/node_modules
/vendor
/vendor/*
/storage
/storage/*
/storage/framework/*
/storage/logs/*
/.idea
Homestead.json
Homestead.yaml
.env
.env.develop
.env.staging
.env.*
public/files/product/*
public/files/shop/banner/small/*
public/files/shop/banner/*
public/files/shop/*
public/files/users/*
public/files/users/*
public/files/shop-----/*
public/files/color/*
public/files/blog/large_572/*
public/files/cart_option/*
public/files/blog/medium_234/*
public/files/blog/original/*
public/files/blog/thumb_170/*
public/files/*
public/files/media_manager/*
public/files/avtar_images/*
public/files/site_logo/*
/storage/logs/*.log
storage/framework/views/*
storage/*
resources/lang/*
/node_modules/*
public/theme/TH-50-theme-type-1/json/*