
@font-face {
    font-family: 'pridibold';
    src: url('../fonts/pridi-bold-webfont.eot');
    src: url('../fonts/pridi-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pridi-bold-webfont.woff2') format('woff2'),
         url('../fonts/pridi-bold-webfont.woff') format('woff'),
         url('../fonts/pridi-bold-webfont.ttf') format('truetype'),
         url('../fonts/pridi-bold-webfont.svg#pridibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pridilight';
    src: url('../fonts/pridi-light-webfont.eot');
    src: url('../fonts/pridi-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pridi-light-webfont.woff2') format('woff2'),
         url('../fonts/pridi-light-webfont.woff') format('woff'),
         url('../fonts/pridi-light-webfont.ttf') format('truetype'),
         url('../fonts/pridi-light-webfont.svg#pridilight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pridimedium';
    src: url('../fonts/pridi-medium-webfont.eot');
    src: url('../fonts/pridi-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pridi-medium-webfont.woff2') format('woff2'),
         url('../fonts/pridi-medium-webfont.woff') format('woff'),
         url('../fonts/pridi-medium-webfont.ttf') format('truetype'),
         url('../fonts/pridi-medium-webfont.svg#pridimedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pridiregular';
    src: url('../fonts/pridi-regular-webfont.eot');
    src: url('../fonts/pridi-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pridi-regular-webfont.woff2') format('woff2'),
         url('../fonts/pridi-regular-webfont.woff') format('woff'),
         url('../fonts/pridi-regular-webfont.ttf') format('truetype'),
         url('../fonts/pridi-regular-webfont.svg#pridiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
