
/*  Color Variable  */ 

$white        : #fff; 
$black        : #000; 
$black-light  : #231F20;

$blue         : #004CFF;
$blue-light   : #BBE1FF;
$blue-lighter : #1B5F5E;
$blue-dark    : #2b5991;
$blue-dark2	  : #004F8B;
$sky-light	  : #C3DCE5;

$teal         : #1B5F5E;

$green        : #0A9B00;
$green2       : #00BB6A;
$green-light  : #0AD57D;
$green-light2 : #AAFFD1;
$green-dark   : #006A31;
$green3	  	  : #43D2D0;

$grey         : #C4C4C4;
$grey2        : #BFBFBF;
$grey3        : #979797;
$grey-dark    : #707070;
$grey-dark2   : #656565;
$grey-light   : #D9D9D9;
$grey-lighter : #E6E6E6;

$yellow       : #FFE121;
$yellow2      : #FFD631;
$yellow-light : #FFFBD8;

$olive        : #B7A16F;
$olive-dark	  : #614E02;

$red          :#ED1B24;
$red-light    :#FFCBCB;
$red-light1   :#FF6060;
$red-dark     :#CE232A;
$red-dark2    : #910003;
$red-dark3	  : #710002;

$skyblue      : #00B9FF;
$skyblue2     : #00A5E3;

$border       : #C4C4C4;

$primary      : #ED1B24;
$primary-hover: #CE232A;

/*  Font Variable  */

$font-36        :36px;
$font-30        :30px;
$font-24        :24px;
$font-20        :20px;
$font-18        :18px;

$font-16        :16px;
$font-14        :14px;
$font-12        :12px;
$font-10        :10px;

$font-normal    :16px;
$font-error     :12px;

/*  Font-family  Variable  */

$paridi   : 'pridiregular';
$paridi-m : 'pridimedium';
$paridi-l : 'pridilight';
$paridi-b : 'pridibold';