/*  Color Variable  */
/*  Font Variable  */
/*  Font-family  Variable  */
/*  Mixin and Inheritance */
.transition, .seller-banktab li a {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out; }

.ellips {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block; }

.box-shadow {
  box-shadow: 0 3px 20px #000;
  -webkit-box-shadow: 0 3px 20px #000; }

h1 {
  font-size: 24px;
  color: #231F20;
  margin-bottom: 10px; }
  h1.title-pwd-email {
    font-size: 44px; }

.login-title {
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 9px;
  margin-bottom: 15px; }

.login-wrap button {
  min-width: 175px; }

.login-content button[type="submit"] {
  width: 187px; }

.forget-link {
  color: #00B9FF;
  text-decoration: underline; }

.or-wrap {
  text-align: center;
  position: relative; }
  .or-wrap:before {
    position: absolute;
    width: 100%;
    content: "";
    left: 0;
    top: 12px;
    height: 2px;
    background: #C4C4C4; }
  .or-wrap .or {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    display: inline-block; }

.fb-btn {
  background: #2b5991;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .fb-btn i {
    margin-right: 25px;
    font-size: 24px;
    float: left; }
  .fb-btn:hover {
    background: #00B9FF;
    color: #fff; }

/* Forget password  */
.forget-help {
  background: #E6E6E6;
  padding: 10px 15px;
  margin-bottom: 15px; }

.content-wrap form .btn-grey, .modal .btn-grey {
  margin-right: 5px; }
.content-wrap form .btn, .content-wrap form .btn-grey, .content-wrap form button, .modal .btn, .modal .btn-grey, .modal button {
  min-width: 85px; }

.modal-header {
  border-bottom: none; }

/* Register  */
.title-gred {
  line-height: 1;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
  background-color: #87eae9;
  background: linear-gradient(#87eae9, #E6E6E6);
  background: -webkit-linear-gradient(top, #87eae9, #E6E6E6);
  background: -o-linear-gradient(top, #87eae9, #E6E6E6); }

.title-gred2 {
  line-height: 1;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
  background-color: #C4C4C4;
  background: linear-gradient(#C4C4C4, #E6E6E6);
  background: -webkit-linear-gradient(top, #C4C4C4, #E6E6E6);
  background: -o-linear-gradient(top, #C4C4C4, #E6E6E6); }

.reg-link-wrap {
  margin-bottom: 15px; }

.register-otp {
  max-width: 550px;
  margin: 0 auto 15px auto; }

/**  Email Password page  **/
.pwd-email-wrap {
  max-width: 600px;
  margin: 0 auto; }
  .pwd-email-wrap p {
    font-size: 14px; }

.email-inner {
  background: #fff;
  padding: 25px;
  box-shadow: 0 0 1px #E6E6E6; }
  .email-inner .email-row {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    .email-inner .email-row:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0; }
    .email-inner .email-row .subtitle {
      font-size: 28px; }
    .email-inner .email-row p:last-child {
      margin-bottom: 0; }
  .email-inner .reset-btn {
    min-width: 200px; }

.file-wrapper .custom-img-file {
  display: inline-block;
  position: relative; }
  .file-wrapper .custom-img-file input[type="file"] {
    position: absolute;
    height: 100%;
    cursor: pointer;
    opacity: 0; }
.file-wrapper button {
  margin-left: 10px; }
.file-wrapper .btn-default {
  background: #E6E6E6; }

.seller-banktab {
  margin-bottom: 15px; }
  .seller-banktab ul {
    margin-bottom: 15px; }
  .seller-banktab li {
    text-align: center;
    min-width: 138px;
    margin-right: 14px;
    display: inline-flex; }
    .seller-banktab li:last-child {
      margin-right: 0px; }
    .seller-banktab li a {
      padding: 18px;
      display: inline-block;
      background: #E6E6E6;
      border-radius: 10px;
      border: solid 5px #E6E6E6; }
      .seller-banktab li a:hover, .seller-banktab li a.active {
        border: solid 5px #ED1B24; }
  .seller-banktab .bank-img {
    display: block; }
  .seller-banktab .bank-name {
    display: block;
    margin-top: 10px; }

#find-by-phone {
  display: none; }

@media all and (max-width: 767px) {
  .login-banner {
    margin-bottom: 15px; } }

/*# sourceMappingURL=login.css.map */
