/*for admin login page 

	1) Import css
	2) Header css
	3) Footer css
=========================*/
@import url(../css/fonts.css);
/*  Variable */
/*  Font size  */
/*40px;*/
/*36px;*/
/*32px;*/
/*30px;*/
/*28px;*/
/*24px;*/
/*16px;*/
/*14px;*/
/*12px;*/
/*10px;*/
/*Border radius*/
/* Global Section Variables */
/* Mixin start here  
=====================================*/
/*Border Radius*/
/* Transition */
/* Padding */
/* Modal Transition misin */
/* Button variant */
/* Button outline variant */
/* button with custom colors */
/* button with custom colors */
/* Button Size variant */
/* Pagination Mixin */
body {
  /*background: $grey-light;*/ }

#wrapper {
  padding: 0 15px; }
  #wrapper #login {
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); }

.admin-logo {
  text-align: center;
  margin: 10px 0 30px 0; }
