
/*Plugin*/
.bdr-bottom-none {
  border-bottom: none !important; }

.adj-left {
  padding-left: 7.5px; }

.ekong-store-wrapper h3 {
  margin-bottom: 15px; }
.ekong-store-wrapper .link-plugin ul {
  background: #e9e9e8;
  padding: 15px; }
  .ekong-store-wrapper .link-plugin ul li {
    margin-bottom: 25px; }
    .ekong-store-wrapper .link-plugin ul li a {
      color: #6c6e6f;
      font-weight: 200; }
      .ekong-store-wrapper .link-plugin ul li a:hover {
        color: #333; }
.ekong-store-wrapper .boxsearch .input-group {
  width: 100%;
  max-width: 515px; }
  .ekong-store-wrapper .boxsearch .input-group input[type="text"] {
    height: 34px;
    background: #e9e9e8;
    font-weight: 200; }
  .ekong-store-wrapper .boxsearch .input-group .btn {
    background: #fff;
    color: #6c6e6f;
    height: 34px;
    border: solid 1px #CBCBCB; }
    .ekong-store-wrapper .boxsearch .input-group .btn i {
      font-size: 16px;
      top: -1px; }
    .ekong-store-wrapper .boxsearch .input-group .btn:hover {
      background: #6c6e6f; }
      .ekong-store-wrapper .boxsearch .input-group .btn:hover i {
        color: #fff; }
.ekong-store-wrapper .boxsearch .navbar-form {
  padding: 0px; }
.ekong-store-wrapper .boxsearch #blksearch {
  width: 100%; }
.ekong-store-wrapper .wrapper-module-list {
  margin: 15px 0; }
  .ekong-store-wrapper .wrapper-module-list .thumb-img {
    position: relative;
    text-align: center; }
    .ekong-store-wrapper .wrapper-module-list .thumb-img img {
      max-width: 100%; }
    .ekong-store-wrapper .wrapper-module-list .thumb-img .discountbox {
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      width: 0;
      height: 0;
      border-top: 62px solid #00B7F1;
      border-left: 62px solid transparent; }
    .ekong-store-wrapper .wrapper-module-list .thumb-img .disTxt {
      position: absolute;
      right: 4px;
      top: -53px;
      z-index: 5;
      transform: rotate(45deg);
      color: #fff;
      font-size: 14px; }
  .ekong-store-wrapper .wrapper-module-list .module-detail {
    margin: 10px 0;
    padding: 0 10px; }
    .ekong-store-wrapper .wrapper-module-list .module-detail .nameModule {
      font-size: 14px;
      font-weight: 500; }
    .ekong-store-wrapper .wrapper-module-list .module-detail .rating-star {
      margin: 5px 0; }
    .ekong-store-wrapper .wrapper-module-list .module-detail .pricebox {
      font-size: 14px;
      font-weight: 200; }
      .ekong-store-wrapper .wrapper-module-list .module-detail .pricebox .price {
        color: #000;
        font-weight: 300;
        padding-right: 10px; }
      .ekong-store-wrapper .wrapper-module-list .module-detail .pricebox .countuser {
        color: #6c6e6f; }
  .ekong-store-wrapper .wrapper-module-list .module-des {
    display: none;
    padding: 10px;
    background: #fff;
    position: absolute; }
  .ekong-store-wrapper .wrapper-module-list > ul {
    margin: 0 -7.5px; }
    .ekong-store-wrapper .wrapper-module-list > ul > li {
      width: 25%;
      float: left;
      padding: 0 7.5px;
      margin-bottom: 15px;
      border-bottom: solid 1px #CBCBCB; }
      .ekong-store-wrapper .wrapper-module-list > ul > li .thumb-outer {
        position: relative;
        display: inline-block;
        background-color: #fff;
        transition: all 0.3s ease-in-out; }
        .ekong-store-wrapper .wrapper-module-list > ul > li .thumb-outer:after {
          content: '';
          position: absolute;
          width: 100%;
          height: auto;
          opacity: 0;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          transition: opacity 0.3s ease-in-out; }
        .ekong-store-wrapper .wrapper-module-list > ul > li .thumb-outer:hover {
          transform: scale(1.2, 1.2);
          z-index: 1;
          -webkit-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.25);
          z-index: 9; }
          .ekong-store-wrapper .wrapper-module-list > ul > li .thumb-outer:hover:after {
            opacity: 1; }
          .ekong-store-wrapper .wrapper-module-list > ul > li .thumb-outer:hover .module-des {
            display: block; }

.back-link {
  font-weight: 200;
  font-size: 18px; }
  .back-link a {
    color: #000;
    font-weight: 200;
    font-size: 18px; }
    .back-link a:hover {
      font-weight: 400; }

.modulebtn-section {
  text-align: center;
  padding-top: 15px; }
  .modulebtn-section .btn {
    border-radius: 0;
    min-width: 96px; }
  .modulebtn-section .pricebox span {
    display: block;
    font-weight: 200; }
  .modulebtn-section .pricebox .price {
    margin: 10px 0;
    font-weight: 300; }

.middle-module .nameModule {
  margin-bottom: 10px; }
.middle-module p {
  margin-bottom: 15px;
  font-weight: 200; }

/*.app-detai-list {
	margin: 15px 0 0 0;
	ul {		
		li {
		width: 25%; 
		padding: 0 7.5px; 
		float: left; 
		margin-bottom: 15px;
		}
	}
	
	img {
		max-width: 100%;
	}

	[class*="col-sm-"] {
		padding: 0 7.5px;
	}

}*/
.store-tab .tab-content {
  padding-top: 0px;
  border-top: solid 1px #CBCBCB;
  margin-top: 1px; }
.store-tab .box {
  background: #fff;
  padding: 15px 0; }
.store-tab .lang-nav-tabs > li > a, .store-tab .tab-list > li > a {
  background: #fff;
  border: none;
  padding: 10px 15px;
  font-weight: 200;
  font-size: 18px; }


.store-tab .nav-tabs > li > a.active, .store-tab .nav-tabs > li > a:hover, .store-tab .nav-tabs > li > a:focus {
  background: #e9e9e8 !important;
  border: none; }
.store-tab .lang-nav-tabs > li > a:hover, .store-tab .tab-list > li > a:hover {
  background: #e9e9e8 !important;
  border: none; }

.pmodule li {
  border-bottom: none !important; }

.rv-chart {
  margin-bottom: 30px; }
  .rv-chart ul > li {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    display: table;
    width: 100%;
    margin-bottom: 15px; }
    .rv-chart ul > li .box-tbl-1 {
      display: table-cell;
      width: 50px; }
    .rv-chart ul > li .icon-rv {
      width: 50px;
      height: 50px;
      background: #0074ff;
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
    .rv-chart ul > li .box-tbl-2 {
      display: table-cell;
      padding-left: 15px; }
      .rv-chart ul > li .box-tbl-2 p {
        font-size: 14px;
        margin-bottom: 0px; }
    .rv-chart ul > li .lbl-price {
      margin: 5px 0; }
      .rv-chart ul > li .lbl-price label, .rv-chart ul > li .lbl-price .labletxt {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        font-weight: 200; }
      .rv-chart ul > li .lbl-price .labletxt {
        background: #0074ff;
        padding: 4px 8px;
        color: #fff; }
    .rv-chart ul > li .validate-wrap {
      font-size: 14px;
      font-weight: 200; }
    .rv-chart ul > li .box-tbl-3 {
      display: table-cell;
      vertical-align: top;
      text-align: right;
      padding: 0 15px; }
    .rv-chart ul > li .box-tbl-4 {
      float: right;
      display: table-cell; }
    .rv-chart ul > li .version-show {
      color: #e20;
      font-weight: 200;
      font-size: 14px; }

.linkbtn {
  min-width: 207px;
  font-size: 14px;
  font-weight: 200;
  display: block;
  text-align: center;
  border-radius: none;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s; }

.link-blue {
  background: #0074ff;
  color: #fff; }
  .link-blue:hover, .link-blue:focus {
    background: #0048ff;
    color: #fff; }

.link-grey-light {
  background: #e9e9e8;
  color: #000;
  border: solid 1px #e9e9e8; }
  .link-grey-light:hover, .link-grey-light:focus {
    background: #6c6e6f;
    color: #fff;
    outline: none; }

.link-uninstall {
  background: transparent;
  color: #000; }
  .link-uninstall:hover, .link-uninstall:focus {
    color: #000;
    outline: none; }

.inactive {
  color: #e20; }

.light-pink {
  background: #fff3f3; }

.store-suggession {
  padding: 15px 15px 5px 15px;
  border: solid 1px #CBCBCB;
  background: #fff;
  margin-top: 42px; }
