
/**/

.original-group {
	.tab-list {
		border-bottom: 1px solid $border; clear: both;
		display: table; width: 100%;
	}
	.tab-top {
		margin-top: 28px;
	}
	.color_picker {
		.color_code {
			margin-bottom: 5px;
			border-right: 1px solid $border;
			border-left: 1px solid $border;
			padding-left: 15px;
			padding-right: 15px;
		}
		label {
			.input-inline {
				padding-top: 4px;
			}
		}
		.file-wrapper input[type="file"] {
			left: 0;
		}
	}
	.coloraddon {
		display: inline-block; width: 30px; height: 30px; position: absolute;
		border:none; padding:0; right: 10px;top: 10px;
		i {
			width: 100% !important; height: 100% !important;
			display: inline-block;
		}
	}
	.position {
		border-right: 1px solid $border;
		padding-right: 15px;
	}
	.push-col {
		margin-top: 30px;
		> label {
			display: block;
		}
		&.is-default {
			margin-top: 55px;
		}
	}
	.icon-close {
		font-size: $small_title; margin-top: 15px;
	}
	.file-wrapper {
		display: inline-block; margin-bottom: 0;
		img {
			max-width: 100%;
		}
	}
	label {
		max-width: 100%; word-break: break-all;
	}

	

}
.color_picker_2 {
	position: relative; display: inline-block;
}

.tab-border {
	.original, .cloneData {
		border-bottom: 1px solid $border;
		padding-bottom: 15px;
	}	
}

