
/*  For Seo Pages */


.single-file-upload { 
	droplet {
		display: inline-block; border-bottom: none;  min-height: 40px;
	}
}

.upload-wraper  {
	position: relative;
	input[type="file"] {
		position: absolute; left:0; top:0;
		width: 40px; height: 40px; opacity: 0; z-index: 9; cursor: pointer;
	}
}

.blogslider-wrap {
	li {
		margin-bottom: 10px;
		img {
			max-width: 100%;
		}
	}
	.d-block {
	 	margin-top: 5px;
		display: block;
	}
}