
.banner-home {
	margin-bottom: 0px; margin-top: 25px;
	.banner-item {
		img {
			@include border-radius(10px);
		}
	}
	.slick-dots {
		margin-bottom: -10px;
		li {
			margin-bottom: 0;
		}
	}

}

.title-bg {
	border-bottom: 1px solid $border; margin-bottom: 15px;

	span {
		background: $primary; color: $white; font-size: $font-20;
		padding:10px 20px; display: inline-block;
		@include border-radius(10px 10px 0 0);
	}
}

.recomend-product {
	.prod-name {
		font-size: $font-24;	
	}
}
.recomend-slider, .product-slider { 
	/*@include flex(); margin-bottom: 20px;*/
	
	li {
		width: 190px; display: inline-block;
	}	
}
.recomend-slider {
	margin-bottom: 32px;
}
.product-item {
	padding:2px 5px;
	.prod-img {
		margin-bottom: 10px;
		img {
			@include border-radius(10px); height: 125px;
		}
	}
	.prod-name, .grade {
		margin-bottom: 5px;
	}
	.prod-name {
		white-space: nowrap; overflow: hidden;
		text-overflow: ellipsis; line-height: 1.25;
		a {
			color: $black; 

			&:hover {
				color:$primary;
			}
		}
	}
}
.price-box {
	overflow: hidden; padding-bottom: 5px;
	.price-label {
		display: block; 
	}
}

#price_sec {
	.text-elements {
		border: none;
		display: flex;
		margin: -1px;
		flex-grow: 1;
		&:focus {
			outline: none;
		}
		+ .fc-inner-iocns {
			right: 40%;
		}
	}

}

.banner-home-sm {
	margin-bottom: 20px;
	img {
		@include border-radius(10px); width: 100%; 
	}
}


.view-all-wrap {
	margin-bottom: 20px;
	.view-all {
		display: block;
	}
}

/* About */


.about-banner-wrap {
	padding-bottom: 50px;  
	margin-bottom: 5px;
	-webkit-box-shadow: 0 8px 6px -6px $grey-dark;
	   -moz-box-shadow: 0 8px 6px -6px $grey-dark;
	        box-shadow: 0 8px 6px -6px $grey-dark;
}







.home-about-img {
	text-align: center; max-width: 1920px;
	margin:0 auto; position: relative; 
	
	.about-banner-img {
		width: 100%;  max-height: 700px;
		object-fit:cover; /* position: absolute;
		left:0;*/
	}
	
}

.about-banner-content {
	text-align: center; width: 100%; max-width: 1170px;
	position: absolute; top: 60px;
	z-index: 9; 

	.about-logo {
		margin-bottom: 35px; display: inline-block;
	}
}


.about-ship-list {
	/*@include flex();*/

	color: $white;

	li {
		display: inline-block; padding:2px 20px;
		a {
			color: $white; display: inline-block;
			&:hover {
				color:$skyblue;
			}
			&:hover i {
				border-color: $skyblue;
			}
		}
		i {
			font-size: $font-36; border:10px solid $white; padding:15px;
			@include border-radius(50%);
			display: inline-block; width: 125px; height: 125px; text-align: center;
			line-height: 75px; margin-bottom: 10px;
		}
		h3 {
			font-size: $font-24;
		}
	}

}






.about {
	text-align: center; padding:0 40px; margin-bottom: 15px;
	h2 {
		display: inline-block; min-width: 40%;
		border-bottom: 1px solid $border; padding-bottom: 20px;
		margin-bottom: 15px;
	}
}






.map-wrap {
	margin-bottom: -20px;
}






@media all and (min-width: 1200px) {
	.product-item {		
		.prod-img {			
			img {
				width: 100%;
			}
		}		
	}

}

@media all and (max-width: 767px) {
	.banner-home {
		.slick-dots {
			margin-bottom: 0px;
		}
	}

	.home-about-img {
		background: #4e795b;
	}
	.about {
		padding: 0 15px;
	}
	.about-banner-content {	    
	    width: 100%;
	    max-width: 100%;	    
	    top: 50%;
	    z-index: 9;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    .about-logo {
	    	max-width: 70px;
	    	margin-bottom: 15px;
	    }
	}
	.about-ship-list {
		li {
			padding: 2px 5px;
			width: 31.33%;
		    display: inline-block;
		    vertical-align: top;
			i {
				font-size: $font-24;
				width: 70px;
				height: 70px;
				line-height: 24px;
				border:solid 8px $white;
				margin-bottom: 5px;
			}
			h3 {
				font-size: $font-16;
			}
		}
	}

	.carousel_wrap {
		margin-top: 0px;
	}
	/*#carousel > div {
		left: 0px !important;
	}*/

}

@media all and (max-width: 425px) {
	#carousel > div {		
    	left: 50% !important;    
    	transform: translateX(-50%) !important;
    	width: 300px;
	}
	
}