/node_modules
/vendor
/vendor/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/*
/.idea

Homestead.json
Homestead.yaml
.env
public/files/product/*
public/files/shop/banner/small/*
public/files/shop/banner/*
public/files/shop/*
public/files/users/*
public/files/users/*
public/files/shop-----/*
public/files/color/*
public/files/blog/large_572/*
public/files/cart_option/*
public/files/blog/medium_234/*
public/files/blog/original/*
public/files/blog/thumb_170/*
public/files/*
public/files/media_manager/*
public/files/avtar_images/*
public/files/site_logo/*
/storage/logs/*.log
storage/framework/views/*
storage/*
