
@import "helpers/funmixhelp";


#header {
	margin-top: 15px;
	.login-link {
		text-align: right;
		ul {
			margin-bottom: 10px;
		}
		li {
			display: inline-block; margin-left: 15px; font-size: $font-12;
			vertical-align: top;  line-height: 25px;
			a {
				color: $black;
				&:hover, &.active {
					color:$primary; text-decoration: underline;
				}
			}
		}
		.user {
			.dropdown-toggle {
				display: block;
				color: $skyblue;				
			}
			a {				
				&:hover {
					color:$skyblue !important;
				}
			}
			
			img {
				height: 20px; @include border-radius(50%);
				line-height: 1; float: left; margin-right: 5px;
			}
			.dropdown-menu {
				a {
					&:first-child {
						i {
							color:$skyblue;
						}
						&:hover{
							i {
								color: $red;
							}
						}
					}
					
				}
			}


		}
	}
	.menu-link {
		a { 
			text-decoration: underline;
		}
	}
	.static-menu {		
		li {
			position: relative;
		}
	}
	.lvl3 {
		position: relative;
		/*&:before {
			width:1px;
			height: 100%;
			background: $border;
			content: "";
			left: 0;
			top: 0;
			position: absolute;
		}*/
		
	}

	.submenu {		
	    visibility: hidden;	    
	    opacity: 0;
	    position: absolute;
	    z-index: 3;
	    top: 38px;
	    left: 0;
	    width: 100%;
	    transform: translateY(-2em);	    
	    transition: all .3s ease-in-out 0s,visibility 0s linear .3s,z-index 0s linear .01s;	        
	    min-width: 180px;
		background: $white;
		@include box-shadow;			
		border-radius: 10px;
		ul {
			
			padding: 10px;	
			/*max-width: 245px;*/
			display: inline-block;		
			min-width: 180px;
			li {
				a {
					&:hover {
						text-decoration:underline;
					}
				}
			}
		}
		li {
			position: relative;
			display: block;
			margin-right: 0px;
			border-bottom:0px !important;
			padding-right: 20px;
			a {
				display: inline-block;
				padding: 5px;
				color: $black;
				&:hover {
					color:$primary-hover;
				}								
			}
			i {
				position: absolute;
				right: 5px;
				top: 8px;				
				color:$black;
				font-weight: normal;
				font-size: $font-14;				
			}
			ul {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				left: 100%;
				top: 0;
				padding: 0 0 0 10px;
				margin-left: 10px;				
			}
			&:hover {
				ul {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.static-menu {
		> li {
			&:hover {
				.submenu {
					opacity:1;
					visibility: visible;
					transform: translateY(0%);
    				transition-delay: 0s,0s,.3s;    				
				}				
			}
		}
	}



}

.header-inner {
	margin-bottom: 15px; 
	display: table; width: 100%; 

	.logo {
		float: left; margin-right: 10px;
	}

	.header-content {
		padding-left: 95px;
	}

}

@media all and (min-width: 768px) {
	.header-inner {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		.log {
			float: none;
			img {
				max-height: 88px;
			}
		}
		.header-content {
			padding-left: 0;
		}
	}

}

.search-cart-wrap {
	/*@include flex();
	justify-content: space-between;*/
	display: table; width: 100%;

	.head-col {
		display: table-cell; vertical-align: top;
		width: 100%;
		&.buyer-col {
			min-width: 165px; display: flex; align-items: center;
			justify-content: right;
			.buyer-pannel {
				min-width: 160px;
			}
			.chat-wrap {
				white-space: nowrap;	
        		margin-left: 10px;
        		i {
        			color: $grey-dark;
        		}
			}
		}
	}


	.search-form {
		padding-right: 15px; 
		input {
			width: 100%; max-width: 600px;
		}
	}
	.nav-search-input {
		min-width: 225px;
	}
	.search-group{
		position: relative; max-width: 500px;
		margin-left: auto;
		input[type="text"] {
			padding-left: 40px; margin-left: auto; 
		}
		button {
			position: absolute; left: 0; top: 1px;
			background: transparent; border:none;
			@include border-radius(0 10px 10px 0);
			color: $grey-dark;
			&:hover {
				background:transparent; border-color: transparent;
			}
		}
		.fa-search {
			position: absolute;	
			left: 14px;	
			color: $grey-dark;	
			top: 16px;
		}
	}
	.nav-search-select {
		float: left;	
		width: auto;	
		position: relative;	
		height: 50px;	
		line-height: 50px;	
		padding: 0 7px;	
		border-radius: 10px 0 0 10px;	
		border: 1px solid $border;	
		background:$grey-light;
		select {
			position: absolute;	
			left: 0;	
			top: 0;	
			height: 50px;	
			opacity: 0;	
			padding: 0 34px 0 12px;
		}
	}
	.nav-search-selected {
		float: left;	
		position: relative;	
		overflow: hidden;	
		padding: 0 4px;
	}
	.nav-search-input {
		position: relative;	
		overflow: hidden;
	}

}

.buyer-login {
	.search-group, .search-form input {
		max-width: 875px;
	}
}


.btn-buyer-header {	
	.btn-grey {
		&:first-child {
			@include border-radius(10px 0 0 10px);	
			float: left;
		}
		&:last-child {
			@include border-radius(0px 10px 10px 0px);	
		}
	}
	.btn-grey {
		&.active {
			background: $black; border-color: $black;
			color: $white;
		}
	}
}
.badge {
	background: $red; color: $white;
	border-radius:50%; text-align: center; width: 20px; height: 20px;
	font-weight: normal; font-style: normal;
	line-height: 16px;
}

.buyer-pannel {
	.dropdown-menu {		
		.badge {
			float: right; margin-left: 5px; background: $red !important; color: $white;
		}
		.dropdown-item {
			i {
				width: 25px;
				height: 25px;
				background: $grey-dark;
				color: $white;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
				line-height: 23px;
				font-size: $font-12;
				text-align: center;
				margin-right: 5px;
			}
			&:first-child {
				border-bottom: solid 1px $border;
				padding-bottom: 5px;
				margin-bottom: 5px;
				i {
					background: $skyblue;
				}
				&:hover {
					i {
						background: $red;
					}
				}
			}
			&:hover {
				i {
					background: $skyblue;
				}
			}
		}

	}
	.dropdown-item {
		&:hover {
			color:$skyblue;
			text-decoration: underline;
		}
	}
	&.show {
		a.btn-grey {
			background: $skyblue;
			color: $white;
		}
	}

}

.seller-pannel{
	.sell-name {
		display: inline-flex;  align-items: center;
		white-space: nowrap; margin-bottom: 0;
		i {
			font-size: $font-20;
		}
		.btn-grey {
			margin-left: 10px;
		}

	}
}


.menu-wrap{
 	background: $primary; color: $white; margin-bottom: 30px;
 	-webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.43);
  	-moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.43);
  	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.43);
}
.header-menu{
 	@include flex(); justify-content: space-between;

 	.menu-icon {
 		display: none; padding:10px 0 5px 0; font-size: $font-24;
 	}	
	> ul {
		margin-bottom: 0;
		> li {
			margin-right: 9px !important;
		}
	}
	li {
		display: inline-block; @extend .transition;
		border-bottom: 5px solid transparent;
		&:last-child {
			margin-right:0;
		}
		&:hover {
			border-color:$black;
		}
	}
 	a {
 		color: $white; padding:9px 2px 4px 2px; 
 		display: inline-flex; align-items: center;
 		
 	} 	
}
	
.adj-mrgin {
	margin-top: -20px;
}

/* Search dropdown */ 
.search-dropdown { 
	max-height: 440px;  
	overflow-x: hidden; 
	max-width: 600px !important;  
	overflow-y: auto; 
	display: flex !important;  
	flex-wrap: wrap;  
	border: none !important;

	.product-wrap, .shop-wrap {
		padding-left: 10px; 
		padding-right: 10px;  
		flex: 0 0 20%;  
		max-width: 20%; 
		text-align: center;
	}
	.head-wap {
		flex: 0 0 100%; 
		max-width: 100%;  
		padding: 20px 10px 10px;
		.search-head {
			font-family: $paridi-b;
		}
	}
	.head-wap-shop { 
	    flex: 0 0 100%; 
	    max-width: 100%;  
	    padding: 10px; 
	    .search-head {  
		  font-family: $paridi-b;
		  padding-top: 10px;  
		  border-top: 2px solid $grey; 
		} 
	}
	.ui-menu-item-wrapper {
		transition: all 0.3s;
		.search-img {  
		  	margin-bottom: 10px;  
			img {  
			    width: 80px;  
			    height: 80px; 
			    object-fit: cover; 
			}
		} 
		&.ui-state-active {
			background: none; 
			color: $red;
		}
	}
	.search-result {
		clear: both;  
		overflow: hidden; 
		padding: 10px !important; 
		text-align: right;  
		position: sticky; 
		background: $white; 
		bottom: 0;  
		flex: 0 0 100%; 
		max-width: 100%;
	}
	.search-prod-desc {  
	    font-size: $font-14; 
	    .link-product-name {
			font-weight: bold;  
			display: block;
	    }
	    .link-product-name , .price-wrap {
	    	padding-bottom: 3px;
	    }
	} 

}

/* Start Header Menu Design */ 

.static-menu {
	list-style: none; 
	position: relative; 
	margin: 0;  
	padding: 0; 
	z-index: 9;

	li {
		position: relative; 
		display: inline-flex; 
		align-items: center;  
		margin: 0;  
		padding: 0;
		a {
			white-space: nowrap;  
			width: 100%;  
			-moz-transition: all 0.4s ease-in-out 0s;	
			-o-transition: all 0.4s ease-in-out 0s;	
			-webkit-transition: all 0.4s ease-in-out 0s;	
			transition: all 0.4s ease-in-out 0s;
			text-transform: capitalize; 
			.ricon {  
				padding-left: 10px; 
				margin-left: auto;  
				vertical-align: baseline; 
			}
			.licon {
			    padding-right: 10px;
			    vertical-align: baseline;
			}
		}
		&.current-menu-item {
			-moz-transition: all 0.4s ease-in-out 0s;	
			-o-transition: all 0.4s ease-in-out 0s;	
			-webkit-transition: all 0.4s ease-in-out 0s;	
			transition: all 0.4s ease-in-out 0s;
		}
		&:hover > ul {
			display: block;
		}
		> span {
			display: flex;
			align-items: center;

			.arrow {
			    margin-left: auto;
			    padding-top: 5px;
			    padding-left: 5px;
			}
		}
	}
	ul {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: $red;
		padding: 0;
		min-width: 200px;
		li {
			float: none;
			min-width: 200px;
			width: 100%;
			display: block;
			a {
				padding-left: 10px;
			}
		}
		ul {
			top: 0;
			left: 100%;
		}
	}

}


@media all and (min-width: 1200px) {
    .search-cart-wrap .head-col.buyer-seller-col {
        width: 250px;
        padding-right: 0;
    }
}


@media all and (max-width: 767px) {

	.search-dropdown {
		.product-wrap, .shop-wrap {
			flex: 0 0 33.333%;  
			max-width: 33.333%;
		}
	}
	.static-menu { 
		ul {
			position: static; 
	    	padding-left: 20px; 
		}	
		li {
			> span {
				.arrow {
					width: 50px;  
					text-align: center;
				}
			}
		}    
	} 

	#header {
		.login-link {
			li {
				margin-left: 8px;
				&:first-child {
					margin-left:2px;
				}
			}
		}
	}

	.header-inner  {
		.logo {
			max-width: 55px; margin-bottom: 10px;
		}
		.header-content {
			padding-left: 0;
		}
		.buyer-pannel {
		    .dropdown-menu {  
		        min-width: 290px; 
		    }
		}
	}

 	.header-menu {
 		display: inline-block; width: 100%;
 		.menu-icon {
 			display: block;
 		}
 		.static-menu {
 			display: none;
 			li {
 				display: block;
 				border-color: transparent;	
        		margin-right: 0 !important; 
 				a {
 					padding:4px 5px;
 				}
 				&.open {
 					> span {
 						background-color: $black;
 					}
 				}
 			}
 		}
 	}
 	.menu-link {
 		display: none;
 	}


 	.search-cart-wrap  {
 		.head-col {
 			display: block; width: auto !important;
 			margin-bottom: 10px;
 			&.search-form {
 				padding-right: 0;
 				margin-bottom: 10px;
 			}
 		}
 	}

}


@media all and (max-width: 576px) {
	.btn-buyer-header {
		.btn-grey {
			width: 50%;
		}
	}
	.head-col {
		.buyer-pannel {
			.dropdown-toggle {
				display: block; text-align: left;
			}
		}
	}
}


@media all and (max-width: 374px) {
	.btn-buyer-header {
		.btn {
			padding: 9px 10px;
		}
	}
}